[Desktop Entry]
Name=Sync Mail Dir - Configuration
Name[it]=Sincronizzazione Maildir - Configurazione
Comment=Configure Sync Mail Dir
Comment[it]=Configura Sync Mail Dir
Icon=mail-send-receive
Exec=smd-applet --configure
Terminal=false
Type=Application
